<!-- Footer -->
<footer class="text-white text-left" id="footer">
    <!-- Grid container -->
    <div class="container p-4">
        <section class=" ">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5>Βοήθεια</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Οδηγός
                                eshop</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Συχνές Ερωτήσεις</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Συχνές Ερωτήσεις Delivery.gr</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Βρες το <strong>Cretan Market</strong></a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5>Η Εταιρεία</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Cretan Market </a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Cretan Market Franchise</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Cretan Market Καριέρα</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Υπεύθηνη Cretan Market </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5>Χρήσιμα</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Όροι και Προϋποθέσεις</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Πολιτική Απορρήτου</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Ασφάλεια</a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                    <h5 class=""><strong>Newsletter & Social</strong></h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="btn btn-outline-light btn-floating me-2" href="#!" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating me-2" href="#!" role="button"><i
                                    class="fab fa-twitter"></i></a>

                            <!-- Google -->
                            <a class="btn btn-outline-light btn-floating me-2" href="#!" role="button"><i
                                    class="fab fa-google"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating me-2" href="#!" role="button"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            Εγραφή
                        </li>
                        <li>
                            <form action="">
                                <div class="row d-flex justify-content-center">


                                    <div class="form-outline form-white mb-1 w-100">
                                        <input type="email" id="form5Example2" class="form-control" />
                                        <label class="form-label" for="form5Example2">Email address</label>
                                    </div>

                                    <button type="submit" class="btn btn-outline-warning mb-4">
                                        Subscribe
                                    </button>
                                </div>
                                <!--Grid row-->
                            </form>
                        </li>


                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <b id="date"></b> Copyright:
        <a class="text-muted" href="#">Παύλος Μπελιπασάκης ΤΠ4234</a>
    </div>
    <script>
        var d = new Date();
        var n = d.getFullYear();
        document.getElementById("date").innerHTML = n;
    </script>
    <!-- Copyright -->
</footer>
<!-- Footer -->