<div class="row mt-4 ">
    <div class="row mt-1 ">
        <a href="/user/Γαλακτοκομικά/1/5" class="col-3"><img src="/img/dashboard/1.png" alt="" class="col-12"></a>
        <a href="/user/Φρέσκο Κρέας & Ψάρια/1/5" class="col-3"><img src="/img/dashboard/2.png" alt=""
                class="col-12"></a>
        <a href="/user/Οπωροπωλείο/1/5" class="col-3"><img src="/img/dashboard/3.png" alt="" class="col-12"></a>
        <a href="/user/Όλα για το σπίτι/1/5" class="col-3"><img src="/img/dashboard/4.png" alt="" class="col-12"></a>
    </div>
    <div class="row mt-1 mb-3">
        <a href="/user/Αντισυπτική Προστασία/1/5" class="col-3"><img src="/img/dashboard/5.png" alt=""
                class="col-12"></a>
        <a href="/user/Είδη Προσωπικής Περιποίησης/1/5" class="col-3"><img src="/img/dashboard/6.png" alt=""
                class="col-12"></a>
        <a href="/user/Καθαριστικά/1/5" class="col-3"><img src="/img/dashboard/7.png" alt="" class="col-12"></a>
        <a href="/user/Για κατοικίδια/1/5" class="col-3"><img src="/img/dashboard/8.png" alt="" class="col-12"></a>
    </div>
</div>