<div class="container-fluid col-4">
        <div class="text h2">
                Περιήγηση
        </div>
        <hr>
        <ul class="list-group  list-group-flush bg-transparent mt-2">
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/neaproionta">Νέα
                                Προϊόντα</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/fruits">Οπωροπωλείο</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/meatandfish">Φρέσκο Κρέας & Ψάρια</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/galaktokomika">Γαλακτοκομικά Είδη</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/snack">Πρωινό - Snack & Ροφήματα</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/krasia">Κρασία, Ποτά, Αναψυκτικά, Νερό</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/personalHygiene">Είδη Προσωπικής Περιποίησης</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/cleaning">Καθαριστικά, Χαρτικά, Είδη Σπιτίου</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/pets">Για
                                Κατοικίδια</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/sales">Προσφορές</a></li>
        </ul>
</div>