<div class="container-fluid col-4">
        <div class="text h2">
                Περιήγηση
        </div>
        <hr>
        <ul class="list-group  list-group-flush bg-transparent mt-2">
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/neaproionta/1/5">Νέα
                                Προϊόντα</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/Οπωροπωλείο/1/5">Οπωροπωλείο</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/Φρέσκο Κρέας & Ψάρια/1/5">Φρέσκο Κρέας & Ψάρια</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/Γαλακτοκομικά/1/5">Γαλακτοκομικά Είδη</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/Σνακ/1/5">Πρωινό - Snack & Ροφήματα</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/ΚρασιάΠοτά/1/5">Κρασία, Ποτά, Αναψυκτικά, Νερό</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/Είδη Προσωπικής Περιποίησης/1/5">Είδη Προσωπικής Περιποίησης</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/Καθαριστικά/1/5">Καθαριστικά, Χαρτικά, Είδη Σπιτίου</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/Για κατοικίδια/1/5">Για
                                Κατοικίδια</a></li>
                <li class="list-group-item bg-transparent"><a class="list-group-items text-dark" aria-current="page"
                                href="/user/sales/1/5">Προσφορές</a></li>
        </ul>
</div>