<%- include ('./partials/head.ejs') %>
<%- include ('./partials/navbar.ejs') %>

<div class="container mt-5 mb-5">
    <div class="row pt-5 pb-5">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Ουπς!</h1>
                <h2>
                    404 :(</h2>
                <div class="error-details">
                    Συγγνώμη, αλλά η σελίδα που ζητάτε δεν υπάρχει στον διακοσμιτή.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Επιστροφη </a><a href="/client-support" class="btn btn-default btn-lg"><span
                            class="glyphicon glyphicon-envelope"></span> Επικοινωνια </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('./partials/footer.ejs') %>
<%- include ('./partials/rest-body.ejs') %>