<footer class="text-center text-white fixed-bottom mt-6" style="background-color: #21081a;">

    <!-- Copyright -->
    <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
        <b id="date"></b> Copyright:
        <a class="text-muted" href="#">Παύλος Μπελιπασάκης ΤΠ4234</a>
    </div>
    <script>
        var d = new Date();
        var n = d.getFullYear();
        document.getElementById("date").innerHTML = n;
    </script>
    <!-- Copyright -->
</footer>